:root {
    --green: #92d500;
    --palegreen: #91d5007b;
    --darkgreen: #93d500;
    --paleblue: #d7ecf9;
    --blue: #4169E1;
    --darkblue: #165a91;
}

html,body {
    padding: 0;
    margin: 0;
    background-color: var(--paleblue);
}

h1 {
    font-size: 48px;
}

header {
    color: var(--blue);
    font-weight: 900;
    background-color: var(--green);
}

main {
    display: flex;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;

    padding: 10rem;
    width: 90%;
}

form{
    display:flex;
    flex-direction: column;
    border: 5px solid;
    color: #444444;
    padding: 10px;
    border-style: ridge;
    background-color: #afafaf;
    border-radius: 10px;
}

button{
    padding: 3px;
    width: 75%;
    align-self:center;
}